<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
  <context id="mysqlTables" targetRuntime="MyBatis3">
  
  	<commentGenerator>
        <property name="suppressAllComments" value="true"/>
    </commentGenerator>
  	
    <jdbcConnection driverClass="${generator.jdbcDriver}" connectionURL="${generator.jdbcUrl}"
        userId="${generator.username}" password="${generator.password}">
    </jdbcConnection>

    <javaTypeResolver >
      <property name="forceBigDecimals" value="false" />
    </javaTypeResolver>
    
    <javaModelGenerator targetPackage="${generator.packagePrefix}.model" targetProject="${generator.target}">
      <property name="enableSubPackages" value="true" />
      <property name="trimStrings" value="true" />
    </javaModelGenerator>

    <sqlMapGenerator targetPackage="${generator.packagePrefix}.xml"  targetProject="${generator.target}">
      <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>
    
    <javaClientGenerator type="XMLMAPPER" targetPackage="${generator.packagePrefix}.dao"  targetProject="${generator.target}">
      <property name="enableSubPackages" value="true" />
    </javaClientGenerator>
<!-- 
	<table schema="${generator.schema}" tableName="users" domainObjectName="User" 
    	enableInsert="true" enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" 
    	enableSelectByExample="false" enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false">
      <property name="useActualColumnNames" value="false"/>
      <generatedKey column="ID" sqlStatement="Mysql" identity="true" />
    </table>
    
    <table schema="${generator.schema}" tableName="orders" domainObjectName="Order" 
    	enableInsert="true" enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" 
    	enableSelectByExample="false" enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false">
      <property name="useActualColumnNames" value="false"/>
      <generatedKey column="ID" sqlStatement="Mysql" identity="true" />
    </table>
    
    <table schema="${generator.schema}" tableName="order_masters" domainObjectName="OrderMaster" 
        enableInsert="true" enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" 
        enableSelectByExample="false" enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false">
      <property name="useActualColumnNames" value="false"/>
      <generatedKey column="ID" sqlStatement="Mysql" identity="true" />
    </table>
    
    <table schema="${generator.schema}" tableName="order_hiss" domainObjectName="OrderHis" 
        enableInsert="true" enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" 
        enableSelectByExample="false" enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false">
      <property name="useActualColumnNames" value="false"/>
      <generatedKey column="ID" sqlStatement="Mysql" identity="true" />
    </table>

    <table schema="${generator.schema}" tableName="joda_demo" domainObjectName="Joda" 
        enableInsert="true" enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" 
        enableSelectByExample="false" enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false">
      <property name="useActualColumnNames" value="false"/>
      <generatedKey column="ID" sqlStatement="Mysql" identity="true" />
    </table>

    <table schema="${generator.schema}" tableName="groups" domainObjectName="Group" 
        enableInsert="true" enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" 
        enableSelectByExample="false" enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false">
      <property name="useActualColumnNames" value="false"/>
      <generatedKey column="ID" sqlStatement="Mysql" identity="true" />
    </table>
    <table schema="${generator.schema}" tableName="categorys" domainObjectName="Category" 
        enableInsert="true" enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" 
        enableSelectByExample="false" enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false">
      <property name="useActualColumnNames" value="false"/>
      <generatedKey column="ID" sqlStatement="Mysql" identity="true" />
    </table>
 -->
    <table schema="${generator.schema}" tableName="accounts" domainObjectName="Account" 
        enableInsert="true" enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" 
        enableSelectByExample="false" enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false">
      <property name="useActualColumnNames" value="false"/>
      <generatedKey column="ID" sqlStatement="Mysql" identity="true" />
    </table>
    
  </context>
</generatorConfiguration>
