<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="userService" class="com.bulain.mybatis.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper" />
    </bean>
    <bean id="orderService" class="com.bulain.mybatis.service.OrderServiceImpl">
        <property name="orderMapper" ref="orderMapper" />
        <property name="orderMasterMapper" ref="orderMasterMapper" />
        <property name="orderHisMapper" ref="orderHisMapper" />
    </bean>
    <bean id="jodaService" class="com.bulain.mybatis.service.JodaServiceImpl">
        <property name="jodaDemoMapper" ref="jodaDemoMapper" />
    </bean>
</beans>