<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="userAction" class="com.bulain.activiti.controller.UserAction" singleton="false">
        <property name="userService" ref="userServiceTx" />
    </bean>
    <bean id="activitiAction" class="com.bulain.activiti.controller.ActivitiAction" singleton="false">
        <property name="repositoryService" ref="repositoryService" />
        <property name="runtimeService" ref="runtimeService" />
        <property name="taskService" ref="taskService" />
        <property name="historyService" ref="historyService" />
        <property name="formService" ref="formService" />
    </bean>
    <bean id="orderAction" class="com.bulain.activiti.controller.OrderAction" singleton="false">
        <property name="orderService" ref="orderServiceTx" />
        <property name="orderBpo" ref="orderBpoTx" />
    </bean>
    <bean id="jodaAction" class="com.bulain.activiti.controller.JodaAction" singleton="false">
        <property name="jodaService" ref="jodaServiceTx" />
    </bean>
    <bean id="referanceAction" class="com.bulain.activiti.controller.ReferanceAction" singleton="false">
        <property name="referanceService" ref="referanceServiceTx" />
    </bean>
    <bean id="groupAction" class="com.bulain.activiti.controller.GroupAction" singleton="false">
        <property name="groupService" ref="groupServiceTx" />
        <property name="referanceService" ref="referanceServiceTx" />
    </bean>
    <bean id="categoryAction" class="com.bulain.activiti.controller.CategoryAction" singleton="false">
        <property name="categoryService" ref="categoryServiceTx" />
        <property name="referanceService" ref="referanceServiceTx" />
    </bean>
    <bean id="accountAction" class="com.bulain.activiti.controller.AccountAction" singleton="false">
        <property name="accountService" ref="accountServiceTx" />
        <property name="referanceService" ref="referanceServiceTx" />
    </bean>
</beans>
