<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="userMapper" parent="baseMapper">
        <property name="mapperInterface" value="com.bulain.mybatis.dao.UserMapper" />
    </bean>

    <bean id="orderMapper" parent="baseMapper">
        <property name="mapperInterface" value="com.bulain.mybatis.dao.OrderMapper" />
    </bean>
    <bean id="orderMasterMapper" parent="baseMapper">
        <property name="mapperInterface" value="com.bulain.mybatis.dao.OrderMasterMapper" />
    </bean>
    <bean id="orderHisMapper" parent="baseMapper">
        <property name="mapperInterface" value="com.bulain.mybatis.dao.OrderHisMapper" />
    </bean>
    <bean id="jodaMapper" parent="baseMapper">
        <property name="mapperInterface" value="com.bulain.mybatis.dao.JodaMapper" />
    </bean>
</beans>