<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="userMapper" parent="baseMapper">
        <property name="mapperInterface" value="com.bulain.mybatis.dao.UserMapper" />
    </bean>

    <bean id="orderMapper" parent="baseMapper">
        <property name="mapperInterface" value="com.bulain.mybatis.dao.OrderMapper" />
    </bean>
    <bean id="orderMasterMapper" parent="baseMapper">
        <property name="mapperInterface" value="com.bulain.mybatis.dao.OrderMasterMapper" />
    </bean>
    <bean id="orderHisMapper" parent="baseMapper">
        <property name="mapperInterface" value="com.bulain.mybatis.dao.OrderHisMapper" />
    </bean>
    <bean id="jodaMapper" parent="baseMapper">
        <property name="mapperInterface" value="com.bulain.mybatis.dao.JodaMapper" />
    </bean>
    
    <bean id="referanceMapper" parent="baseMapper">
        <property name="mapperInterface" value="com.bulain.activiti.dao.ReferanceMapper" />
    </bean>
    
    <bean id="groupMapper" parent="baseMapper">
        <property name="mapperInterface" value="com.bulain.activiti.dao.GroupMapper" />
    </bean>
    <bean id="categoryMapper" parent="baseMapper">
        <property name="mapperInterface" value="com.bulain.activiti.dao.CategoryMapper" />
    </bean>
    <bean id="accountMapper" parent="baseMapper">
        <property name="mapperInterface" value="com.bulain.activiti.dao.AccountMapper" />
    </bean>
    
</beans>