<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bulain.activiti.dao.ReferanceMapper" >
  <resultMap id="BaseResultMap" type="com.bulain.activiti.model.Referance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="lang" property="lang" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, code, text, lang, category, created_by, created_at, updated_by, updated_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from referances
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from referances
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.bulain.activiti.model.Referance" >
    insert into referances (name, code, text, lang, category, created_by, created_at, 
      updated_by, updated_at)
    values (#{name}, #{code}, #{text}, #{lang}, #{category}, #{createdBy}, #{createdAt}, 
      #{updatedBy}, #{updatedAt})
    <selectKey resultType="java.lang.Integer" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.bulain.activiti.model.Referance" >
    insert into referances
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="lang != null" >
        lang,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name},
      </if>
      <if test="code != null" >
        #{code},
      </if>
      <if test="text != null" >
        #{text},
      </if>
      <if test="lang != null" >
        #{lang},
      </if>
      <if test="category != null" >
        #{category},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bulain.activiti.model.Referance" >
    update referances
    <set >
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="code != null" >
        code = #{code},
      </if>
      <if test="text != null" >
        text = #{text},
      </if>
      <if test="lang != null" >
        lang = #{lang},
      </if>
      <if test="category != null" >
        category = #{category},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bulain.activiti.model.Referance" >
    update referances
    set name = #{name},
      code = #{code},
      text = #{text},
      lang = #{lang},
      category = #{category},
      created_by = #{createdBy},
      created_at = #{createdAt},
      updated_by = #{updatedBy},
      updated_at = #{updatedAt}
    where id = #{id}
  </update>
  
  <!-- custom -->
  <sql id="where">
  	<where>
  		<if test="name != null and name != '' ">
  			and name = #{name}
  		</if>
  		<if test="code != null and code != '' ">
  			and code = #{code}
  		</if>
  		<if test="lang != null and lang != '' ">
  			and lang = #{lang}
  		</if>
  		<if test="category != null and category != '' ">
  			and category = #{category}
  		</if>
  	</where>
  </sql>
  <select id="find" resultMap="BaseResultMap" parameterType="com.bulain.activiti.pojo.ReferanceSearch">
  	select 
    <include refid="Base_Column_List" />
    from referances
    <include refid="where"/>
    <include refid="common.orderby"/>
  </select>
  <select id="count" resultType="java.lang.Long" parameterType="com.bulain.activiti.pojo.ReferanceSearch">
  	select count(*)
    from referances
    <include refid="where"/>
  </select>
  <select id="page" resultMap="BaseResultMap" parameterType="com.bulain.activiti.pojo.ReferanceSearch">
  	<![CDATA[${PAGE_HEAD}]]>
  	select 
    <include refid="Base_Column_List" />
    from referances
    <include refid="where"/>
    <include refid="common.orderby"/>
    <![CDATA[${PAGE_FOOT}]]>
  </select>
  
  <resultMap id="ItemMap" type="com.bulain.activiti.pojo.Item" >
    <result column="code" property="key" jdbcType="VARCHAR" />
    <result column="text" property="value" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectListByExample" resultMap="ItemMap" parameterType="com.bulain.activiti.pojo.ReferanceSearch">
  	select code, text
    from referances
    where name=#{name}
    and lang=#{lang}
    and category=#{category}
    order by code
  </select>
  <select id="selectItemByExample" resultMap="ItemMap" parameterType="com.bulain.activiti.pojo.ReferanceSearch">
  	select code, text
    from referances
    where name=#{name}
    and code=#{code}
    and lang=#{lang}
    and category=#{category}
  </select>
</mapper>